.container-fluid{
    margin: 0;
    padding: 100px;
    background-color: lightgoldenrodyellow;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
}

#main-image {
    width: 400px;
    border: solid;
    border-radius: 20px;
}

.header {
    display: flex;
    justify-content: center;
}

#my-name {
    text-align: center;
}

.li {
    color: grey;
}

a {
    color: brown;
}

a:hover {
    color: black;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #main-image {
        width: 300px;
    }

    .shops {
        width: 30%;
    }

    .text {
        width: 70%;
    }
}

@media screen and (max-width: 1179px) and (min-width: 1024px){
    #main-image {
        width: 400px;
    }
}

@media screen and (min-width: 1200px){
    #main-image {
        width: 500px;
    }
}